// Constant Colors

$white: #ffffff;
$black: #000000;
$blue: #0000ff;
$danger: #e11919;
$success: #19e119;
$navbar-background: #000000;
$body-background: #dadada;
$footer-background: #000000;
$scroll-bar-color: #00ebf3;

$messageBoxColor: #f3f3f3;
$infoBarColor: #2979ff;
$sentTextColor: #828282;
$messageSentColor: #2979ff;
$colorDark: #353535;
$backgroundLight: #f3f3f3;
$sendBoxBorderTop: #d3d3d3;
